<head>
  <script type="text/javascript" 
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcybI4pTGBEJCmYiCFXcp6GKkbzydsf8Y"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, 
        user-scalable=no" />
</head>

<div id='divPanel'>  
  <div id='divUserInfo'>
  <% if user_signed_in? %>
    <span id='spanUserInfo'>
      Logged in: <%= link_to(edit_user_registration_path) do %> 
      <strong><%= current_user.display_name %></strong>
      <% end %>
    </span>
    <%= link_to(destroy_user_session_path, method: :delete) do %>
      <%= image_tag('gnome_logout.png', html_options={id: 'imgLogout'}) %>
    <% end %>
  <% else %>
   <%= link_to "Sign up", new_user_registration_path %> |
   <%= link_to "Login", new_user_session_path %>
   <li><%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %></li>
   <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
  <% end %>
  </div>
  <div id='divWelcome' class='center'>
    <p id='spanHeader' class='textcenter'>Hey Random Runner</p>
    <%= link_to(new_randomrun_path, html_options={class: 'imgRun'}) do %>
      <%= image_tag('http://cityoflapwai.com/wp-content/uploads/2013/06/Fun-Run-Logo.jpg', 
        html_options={class: 'imgRun'}) %>
    <% end %>
  </div>
</div>