<%= render 'header' %>

<%# if user_signed_in? %>
 <%= form_for @randomrun, url: {action: "create"}, html: {id: "random_run_create", 
   class: "randomrun_form"} do |f| %>
   <%= f.text_field :route %>
   <%= f.text_field :desired_length %>
   <%= f.text_field :angle %>
   <%= f.submit %>
 <% end %>
 <% if @randomrun && !@randomrun.id.nil? %>
  <%= form_for @randomrun, url: {action: "update"}, method: "patch", 
    html: {id: "random_run_update", class: "randomrun_form"} do |f| %>
    <%= f.text_field :actual_length %>
    <%= f.submit %>
  <% end %>
 <% end %>
 <%= form_for([@randomrun, @randomrun.run_instances.build], url: run_instances_path,
   html: {id: "run_instance_create", class: "randomrun_form"}) do |f| %>
   <%= text_field(:randomrun, :id) %>
   <%= f.text_field :started_at %>
   <%= f.text_field :ended_at %>
   <%= f.text_field :rating %>
   <%= f.text_field :completed %>
   <%= f.text_field :duration_in_ms %>
   <%= f.text_field :attempted %>
   <%= f.submit %>
 <% end %>
<div>
  <div id="divButtons">
    <%= button_to "Skip", new_randomrun_path, :method => "get", 
      form: {"id" => "btnSkipForm"}, :id => "btnSkip" %>
    <div id="divVotingButtons">
      <input type="radio" id="btnVoteUp" name="votingButton">
      <label for="btnVoteUp">Vote Up</label>
      <input type="radio" id="btnVoteDown" name="votingButton">
      <label for="btnVoteDown">Vote Down</label>
    </div>
  </div>
  <div id="divEditableCountdown">
    <button type="button" id="btnStartPause" value="0">Start!</button>
    <!--
    <label for="timeSpinner">Time: </label>
    <input id="timeSpinner" name="timeSpinner" value="00:00:00">
    -->
    <span>Time: </span>
    <input id="txtHours" class="countdown" name="txtHours" value="0" min="0" max="12" />
    <span>:</span>
    <input id="txtMinutes" class="countdown" name="txtMinutes" value="0" min="0" max="59" />
    <span>:</span>
    <input id="txtSeconds" class="countdown" name="txtSeconds" value="0" min="0" max="59" />
    <button type="button" id="btnTerminate">Terminate!</button>
  </div>
</div>
<div id="map-canvas"></div> <!-- TODO canvas size, timer, display length, all styles -->
<div id="divInfo">
  <h3 id="btnMoreDetails">More Details</h3>
  <div id="divMoreDetails"></div>
</div>
<%# end %>