<!DOCTYPE html>
<html>
<head>
  <title>Random Run!</title>
  <link rel="shortcut icon" href=<%= image_path("random-run-icon.ico") %> />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :google_maps_script %>
</head>
<body>

<%= yield %>

</body>
</html>
